@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
html, body, .home{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
body{
  background: linear-gradient(50deg, rgba(50,205,50, 0.5), rgba(189,83,107, 0.5)), url('../imagens/background.jpg');
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}
.nav-transparent{
  background: rgba(0,0,0,0.3);
}
.nav-option{
    color:#fff;
}
.nav-option:hover{
    color:#FFFF00;
    text-decoration: none;
    text-shadow: 5px;
}
.img-logo{
  background: url('../imagens/logocwmn.png') no-repeat;
  display: block;
  background-size: contain;
  color: transparent;
}
